{ "endpoint":"https://api.porkbun.com/api/json/v3",
  "apikey": "",
  "secretapikey": "",
  "domain": "example.com",
  "domainCertLocation": "/var/git/certbun/certs/domain.cert.pem",
  "privateKeyLocation": "/var/git/certbun/certs/private.key.pem",
  "publicKeyLocation": "/var/git/certbun/certs/public.key.pem",
  "commandToReloadWebserver": "systemctl restart x-ui"
}
